@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  overflow-x: hidden; /* Use 'overflow-x-hidden' in the body class if preferred */
}

html {
  scroll-behavior: smooth;
}

/* Animations */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

/* Scroll Snap */
.snap-container {
  scroll-snap-type: y mandatory; /* 'y' for vertical snapping, 'mandatory' for stronger pull */
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;                 /* Full viewport height for each section */
}

.snap-section {
  scroll-snap-align: start;      /* Aligns each section to the top of the viewport */
  height: 100vh;
}

/* Hide Scrollbar for Chrome, Safari, Opera */
.snap-container::-webkit-scrollbar {
  display: none;
}

.prose-custom {
  --tw-prose-headings: #ff69b4; /* Neon hot pink for headings */
  --tw-prose-links: #1e90ff; /* Dodger blue for links */
  --tw-prose-bullets: #4b5563; /* Slate gray for bullets */
  --tw-prose-code: #16a34a; /* Green for inline code */
  --tw-prose-pre-code: #ff4500; /* Orange red for preformatted code blocks */
  --tw-prose-pre-bg: #f3f4f6; /* Light gray for code block backgrounds */
}