@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  overflow-x: hidden; /* Use 'overflow-x-hidden' in the body class if preferred */
}

html {
  scroll-behavior: smooth;
}

/* Animations */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-out;
}

/* Scroll Snap */
.snap-container {
  scroll-snap-type: y mandatory; /* 'y' for vertical snapping, 'mandatory' for stronger pull */
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100vh;                 /* Full viewport height for each section */
}

.snap-section {
  scroll-snap-align: start;      /* Aligns each section to the top of the viewport */
  height: 100vh;
}

/* Hide Scrollbar for Chrome, Safari, Opera */
.snap-container::-webkit-scrollbar {
  display: none;
}

.prose-custom {
  --tw-prose-headings: #ff69b4; /* Neon hot pink for headings */
  --tw-prose-links: #1e90ff; /* Dodger blue for links */
  --tw-prose-bullets: #4b5563; /* Slate gray for bullets */
  --tw-prose-code: #02f93c; /* Green for inline code */
  --tw-prose-code-bg: #000000; /* Green for blockquote borders */
  --tw-prose-pre-code: #033637; /* Deep teal for preformatted code */
  --tw-prose-pre-bg: #7ddbf5; /* Light teal for code block backgrounds */
}

.prose-custom code {
  background-color: var(--tw-prose-code-bg);
  color: var(--tw-prose-code);
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-family: 'Courier New', monospace;
}

.prose-custom pre {
  background-color: var(--tw-prose-pre-bg);
  color: var(--tw-prose-pre-code);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-family: 'Courier New', monospace;
}